.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('vatten.jpg'); /* Ersätt 'vatten.jpg' med namnet på din bildfil */
  background-size: cover;
  background-position: center;
}

.main-content {
  text-align: center;
}

.container {
  max-width: 600px;
}

.card {
  border: 1px solid #cccccc;
  background-color: #ffffffda;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}




aside h2 {
  font-size: 3rem; /* Behåll storleken på rubriken större */
}

aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  margin-bottom: 20px;
}

aside h3 {
  font-size: 1.2em; /* Behåll storleken på rubriken större */
}

aside p {
  font-size: em; /* Justera storleken efter behov */
}
